* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: bisque;
    height: 100px;
}

.todos{
    background-color:blanchedalmond
}

.itans {
    margin-left: 80px;
    margin-bottom: 10px;
    height: 100px;
}

nav {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul {
    margin-left: 80px;
    margin-bottom: 10px;
    display: flex;
    list-style: none; 
    margin-left: 40px;
}

nav ul li {

    margin-left: 40px;
}

dl {
    margin-left: 80px;
    margin-bottom: 10px;
    margin-top: 25px;
}

dl dd{
 margin-left: 25px;
}

footer{
    height: 100px;
    background-color: aquamarine;
}