html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

.pai{
    height: 100vh;
    background-color: yellow;
    overflow: hidden;
}

.color-one{
    background-color: burlywood;
}

.color-two{
    background-color: yellowgreen;
}

p {
    font-size: 1.6rem;
}